@model TallerSeries.Models.Capitulo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Capitulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.temporada.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temporada.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero_cap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_cap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_publicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_publicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valoracion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
